ul.pagination {
  display: inline-flex;
  margin: 5px;
}

ul.pagination > li {
  text-align: center;
  list-style: none;
  margin: 0 -1px 0 0;
  border: 1px solid #1e1e1e;
  transition: background 0.5s ease-in;
}

ul.pagination > li a {
  color: #1e1e1e;
  padding: 10px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

ul.pagination > li a:hover {
  background-color: #c2c2c2;
  color: #f8f8f8;
}

ul.pagination > li.active {
  background-color: #acacac;
}

ul.pagination > li.disabled a, ul.pagination > li.disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
