{% extends "layouts/layout.html.twig" %}

{% set title = '404' %}

{% block content %}
    <div class="alert alert-danger"><strong>Erreur 404</strong> : La page demandée est introuvable !</div>
{% endblock %}