<nav>
    <div id="navbar">
        <ul class="navBar">
            <li>
                <a href="#">Mecado</a>
            </li>
            <li>
                <a href="{{ path_for('index') }}">Accueil</a>
            </li>
            <li>
                <a href="#">Produits</a>
            </li>
            {% if auth %}
                <li>
                    <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Compte
                    </a>
                    <div>
                        <a href="{{ path_for('account') }}">Mon compte</a>
                        <a href="{{ path_for('logout') }}">Déconnexion</a>
                    </div>
                </li>
            {% else %}
                <li>
                    <a href="#">Connexion</a>
                </li>
                <li>
                    <a href="#">Inscription</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>