{% extends "layouts/layout.html.twig" %}

{% set title = 'Mon compte' %}

{% block content %}

    <div class="contains">
        <h2 class="pd-10">Mon compte</h2>
        <hr class="clear-r">

        <div class="grid">
            <div class="column-2">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid blanditiis dolor eveniet facere id impedit laborum placeat quo repellat ut? Asperiores hic impedit ipsa laudantium odit voluptas. Iste laudantium, temporibus?
            </div>
        </div>
    </div>

{% endblock %}